.table-container {
	width: 90%;
	min-height: 90%;
	margin: 5%;
	margin-top: 2%
}
table {
	width: 100%;
	table-layout: fixed;
}
th {
	padding: 5px;
	border-bottom: 2px solid black;
}
td {
	padding: 15px;
	height: 200px;
}
.add-recipe-button {
	width: 100%;
	border-radius: 25% 10%;
	background-color: #caf0f8;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25% 10%;
	aspect-ratio: 1 / 1;
}
.link {
	text-decoration: none;
	cursor: pointer;
}
.recipe-card {
	height: 300px;
	background-color: #77B851;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
}
.title {
	text-align: center;
	font-weight: bold;
	text-wrap: balance;
	overflow-wrap: break-word;
	font-size: 20px;
}
.time {
	color: #E2F7C9;
	font-weight: bold;
	text-wrap: balance;
	overflow-wrap: break-word;
	font-size: 15px;
}
