<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Din ugekalender - Minkostplan</title>
	<link rel="stylesheet" href="/css/center.css"/>
	<link rel="stylesheet" href="/css/base.css"/>
	<link rel="stylesheet" href="/css/calendar.css"/>
	<link rel="stylesheet" href="/css/notification.css"/>
</head>
<body class="dotpattern">
	<div th:if="${param.error}">
		<div th:if="${param.error[0]} == 'database'" class="section notification" onclick="this.remove()">
			<img src="/svg/error.svg" alt="error"/>
			Database fejl.
		</div>
		<div th:if="${param.error[0]} == 'day-of-week'" class="section notification" onclick="this.remove()">
			<img src="/svg/error.svg" alt="error"/>
			Ugedag er ugyldig.
		</div>
		<div th:if="${param.error[0]} == 'no-meal-assigned'" class="section notification" onclick="this.remove()">
			<img src="/svg/error.svg" alt="error"/>
			Et måltid er ikke blevet tildelt den angivne dag.
		</div>
		<div th:if="${param.error[0]} == 'invalid-meal'" class="section notification" onclick="this.remove()">
			<img src="/svg/error.svg" alt="error"/>
			Det angivne måltid er ugyldigt.
		</div>
	</div>
	<div th:if="${param.success}" class="section notification" onclick="this.remove()">
		<img src="/svg/check.svg" alt="checkmark"/>
		Den valgte opskrift er tilføjet til din kalender.
	</div>
	<div class="section table-container" style="background-color: #f7fff7">
		<h1 style="text-align: center">
			<img src="/svg/leaf.svg" style="height: 36px; width: 36px">
			Din ugekalender
		</h1>
		<h2 style="text-align: center; color: grey" th:text="${fromDate} + ' til ' + ${toDate}"></h2>
		<table>
			<tr>
				<th>Mandag</th>
				<th>Tirsdag</th>
				<th>Onsdag</th>
				<th>Torsdag</th>
				<th>Fredag</th>
				<th>Lørdag</th>
				<th>Søndag</th>
			</tr>
			<tr>
				<td th:each="day : ${days}">
					<div th:with="dayOfWeek = ${day.date.getDayOfWeek()}, recipe = ${day.breakfast}, day = ${day}, meal = 'breakfast'">
						<div th:replace="~{fragments :: recipe-card}"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td th:each="day : ${days}">
					<div th:with="dayOfWeek = ${day.date.getDayOfWeek()}, recipe = ${day.lunch}, day = ${day}, meal = 'lunch'">
						<div th:replace="~{fragments :: recipe-card}"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td th:each="day : ${days}">
					<div th:with="dayOfWeek = ${day.date.getDayOfWeek()}, recipe = ${day.dinner}, day = ${day}, meal = 'dinner'">
						<div th:replace="~{fragments :: recipe-card}"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
