<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Calendar</title>
	<link rel="stylesheet" href="/css/center.css"/>
	<link rel="stylesheet" href="/css/base.css"/>
	<link rel="stylesheet" href="/css/calendar.css"/>
	<link rel="stylesheet" href="/css/notification.css"/>
</head>
<body class="dotpattern">
	<div th:if="${param.error != null}">
		<div th:if="${param.error[0]} == 'database'" class="section notification">
			<img src="/svg/error.svg" alt="error"/>
			Database error.
		</div>
		<div th:if="${param.error[0]} == 'day-of-week'" class="section notification">
			<img src="/svg/error.svg" alt="error"/>
			Day of week is invalid.
		</div>
		<div th:if="${param.error[0]} == 'no-meal-assigned'" class="section notification">
			<img src="/svg/error.svg" alt="error"/>
			No meal has been assigned to this day.
		</div>
		<div th:if="${param.error[0]} == 'invalid-meal'" class="section notification">
			<img src="/svg/error.svg" alt="error"/>
			Meal is invalid.
		</div>
	</div>
	<div class="section table-container">
		<h2 style="text-align: center" th:text="${fromDate} + ' to ' + ${toDate}"></h2>
		<table>
			<tr>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
			</tr>
			<tr>
				<td th:each="day : ${days}">
					<div th:with="weekday = ${day.date.getDayOfWeek()}, recipe = ${day.breakfast}, day = ${day}, meal = 'breakfast'">
						<div th:replace="~{fragments :: recipe-card}"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td th:each="day : ${days}">
					<div th:with="weekday = ${day.date.getDayOfWeek()}, recipe = ${day.lunch}, day = ${day}, meal = 'lunch'">
						<div th:replace="~{fragments :: recipe-card}"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td th:each="day : ${days}">
					<div th:with="weekday = ${day.date.getDayOfWeek()}, recipe = ${day.dinner}, day = ${day}, meal = 'dinner'">
						<div th:replace="~{fragments :: recipe-card}"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
