<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Fragments</title>
</head>
<body>
	<label th:fragment="branding" class="section" style="border-color: transparent; background-color: white; display: inline-block; position: fixed">
		<img src="/svg/leaf.svg" alt="logo" height="50" width="50" style="margin-right: 10px"/>
		<label style="font-size: 50px; color: #90c080">Minkostplan</label>
		<p>
			<label style="color: #80b070; font-weight: bold">Billig, hurtig og overskuelig </label>
			<label>kostplan til hverdagen</label>
		</p>
	</label>
	<div th:fragment="add-recipe-button" style="height: 300px">
		<div th:if="${recipe == null}" style="display: flex; justify-content: center; align-items: center; height: 300px">
			<a th:href="@{|/pick/${weekday.toString().toLowerCase()}/${meal}|}" class="add-recipe-button link">
				<div style="font-size: 30px; color: #0077b6; text-decoration: none">
					+
				</div>
			</a>
		</div>
		<a th:fragment="recipe-card" th:if="${recipe != null}" class="link" th:href="@{|/recipe/${weekday.toString().toLowerCase()}/${meal}|}">
			<div class="recipe-card">
				<label th:text="${recipe.title}" class="title"></label>
				<p>
					<label>[image]</label>
				</p>
				<label class="time" th:text="'Time: ' + ${recipe.time}"></label>
			</div>
		</a>
	</div>
</body>
</html>
