<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Fragments</title>
</head>
<body>
	<label th:fragment="branding" class="section" style="border-color: transparent; background-color: white; display: inline-block; position: fixed">
		<img src="/svg/leaf.svg" alt="logo" height="50" width="50" style="margin-right: 10px"/>
		<label style="font-size: 50px; color: #90c080">Minkostplan</label>
		<p>
			<label style="color: #80b070; font-weight: bold">Billig, hurtig og overskuelig </label>
			<label>kostplan til hverdagen</label>
		</p>
	</label>
</body>
</html>
