<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Vælg en opskrift - Minkostplan</title>
	<link rel="stylesheet" href="/css/base.css"/>
	<link rel="stylesheet" href="/css/notification.css"/>
</head>
<body>
	<div th:if="${param.error != null}">
		<div th:if="${param.error[0]} == 'day-of-week'" class="section notification">
			<img src="/svg/error.svg" alt="error"/>
			Ugedag er ugyldig.
		</div>
		<div th:if="${param.error[0]} == 'database'" class="section notification">
			<img src="/svg/error.svg" alt="error"/>
			Database fejl.
		</div>
		<div th:if="${param.error[0]} == 'invalid-recipe'" class="section notification">
			<img src="/svg/error.svg" alt="error"/>
			Det angivne opskrift ID nummer er ugyldigt.
		</div>
	</div>
	<h1 th:text="'Tildel en opskrift til ' + ${translatedWeekday} + 's ' + ${translatedMeal}"></h1>
	<ul>
		<li th:each="recipe : ${recipes}">
			<a th:text="${recipe.title}" th:href="@{|/assign/${weekday}/${meal}/${recipe.id}|}"></a>
		</li>
	</ul>
</body>
</html>
