<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register an account</title>
    <link rel="stylesheet" href="/css/center.css"/>
	<link rel="stylesheet" href="/css/base.css"/>
	<link rel="stylesheet" href="/css/input.css"/>
	<link rel="stylesheet" href="/css/notification.css"/>
</head>
<body class="dotpattern">
	<div th:if="${error} == 'repeat-password'" class="section notification">
		<img src="/svg/error.svg" alt="error"/>
		Password og gentaget password stemmer ikke overens.
	</div>
	<div th:if="${error} == 'date'" class="section notification">
		<img src="/svg/error.svg" alt="error"/>
		Værdien angivet i dato input feltet skal være en gyldig dato.
	</div>
	<div th:if="${error} == 'height'" class="section notification">
		<img src="/svg/error.svg" alt="error"/>
		Værdien angivet i højde input feltet skal være et heltal.
	</div>
	<div th:if="${error} == 'weight'" class="section notification">
		<img src="/svg/error.svg" alt="error"/>
		Værdien angivet i vægt input feltet skal være et heltal.
	</div>
	<div th:if="${error} == 'username'" class="section notification">
		<img src="/svg/error.svg" alt="error"/>
		Brugernavn skal være mellem 3-20 tegn langt.
	</div>
	<div th:if="${error} == 'password'" class="section notification">
		<img src="/svg/error.svg" alt="error"/>
		Password skal være minimum 3 tegn langt.
	</div>
	<div th:if="${error} == 'dob'" class="section notification">
		<img src="/svg/error.svg" alt="error"/>
		Værdien angivet i dato input feltet skal være i datiden.
	</div>
	<div th:if="${error} == 'unknown'" class="section notification">
		<img src="/svg/error.svg" alt="error"/>
		En ukendt fejl opstod.
	</div>
	<div th:replace="~{fragments :: branding}"></div>
	<div class="center section">
		<h2 style="text-align: center">Registrer en konto</h2>
		<form th:action="@{/register}" method="post">
			<p>
				<label for="username">Brugernavn</label>
				<input type="text" id="username" th:name="username" placeholder="Brugernavn" th:value="*{username}"/>
			</p>
			<p>
				<label for="password">Kodeord</label>
				<input type="password" id="password" th:name="password" placeholder="Kodeord" th:value="*{password}"/>
			</p>
			<p>
				<label for="repeat-password">Gentaget kodeord</label>
				<input type="password" id="repeat-password" th:name="repeat-password" placeholder="Kodeord (gentaget)" th:value="*{repeat_password}"/>
			</p>
			<p>
				<label for="name">Fulde navn (valgfrit)</label>
				<input type="text" id="name" th:name="name" placeholder="Fulde navn" th:value="*{name}"/>
			</p>
			<p>
				<label for="dob">Fødselsdato</label>
				<input type="date" id="dob" th:name="dob" th:value="*{dob}"/>
			</p>
			<p>
				<label for="height">Højde (cm)</label>
				<input type="number" id="height" th:name="height" th:value="*{height}"/>
			</p>
			<p>
				<label for="weight">Weight (kg)</label>
				<input type="number" id="weight" th:name="weight" th:value="*{weight}"/>
			</p>
			<p>
				<label for="male">Mand</label>
				<input type="checkbox" id="male" th:name="male" th:checked="*{male}"/>
			</p>
			<p>
				<input type="submit" value="Registrer"/>
			</p>
			<p>
				<label>... eller </label>
				<a th:href="@{/login}">gå tilbage til log ind</a>
			</p>
		</form>
	</div>
</body>
</html>
